<div data-dojo-type='dijit/layout/ContentPane' data-dojo-attach-point='pane' class='wizard-container'>
 <div class='form-group'>
  <label>What type of report?</label>
  <div class='btn-toolbar'>
    <div class='btn-group'>
      <button type='button' class='btn btn-default btn-sm' data-prop='type' data-type='main' data-dojo-attach-event='click: update'>Main</button>
      <button type='button' class='btn btn-default btn-sm' data-prop='type' data-type='catex' data-dojo-attach-event='click: update'>Categorical Exclusions</button>
    </div>
  </div>
</div>
</div>