<div class='highlight text-center' data-dojo-attach-point='controlPanel'>
    <button type='button' class='btn btn-default' data-dojo-attach-point='backButton' data-dojo-attach-event='click: previous'>Previous</button>
    <button type='button' class='btn btn-info' data-dojo-attach-point='nextButton' data-dojo-attach-event='click: next'>Next</button>
    <button type='button' class='btn btn-success' data-dojo-attach-event='click: submit' data-dojo-attach-point='submitButton'>Submit</button>
    <button type='button' class='btn btn-danger' data-dojo-attach-event='click: cancel' data-dojo-attach-point='cancelButton'>Cancel</button>
    <a href='#' class='btn btn-primary' data-dojo-attach-point='productButton'></a>
    <span class='label label-warning' data-dojo-attach-point='messageBox'></span>
</div>