<div>
  <form data-dojo-attach-point='wizard' data-dojo-attach-event='submit: submit'>
    <div data-dojo-type='dijit/layout/StackContainer' style='padding: 0px 9px;' data-dojo-attach-point='sc' class='wizard-container'>
      <div  data-dojo-attach-point='cp1' class='wizard-container'></div>
      <div  data-dojo-attach-point='cp2' class='wizard-container'></div>
      <div data-dojo-attach-point='cp3' class='wizard-container'></div>
    </div>
    <div class='highlight text-center hidden' data-dojo-attach-point='controlPanelNode'></div>
  </form>
</div>